@media (min-width: 768px){
  body{
    padding-top: 50px;
  }
  .middleSection{
    width: 65%;
  }
}


body {
  background-color: #fffaf3;
  color: #575279;
  font-size: 24px;
  font-family: ui-sans-serif,system-ui,sans-serif;
  padding-bottom: 300px;
}

p{
  white-space: pre-wrap;
}

a{
  text-decoration-line: none;
  color : #56949f;
}

a:active{
  color : #286983;
}


.parent{
  display: flex;
  justify-content: center;
}

.middleSection{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
