
.aButt{
  color : #575279;
  border : 3px solid;
  border-radius: 12px;
  cursor: pointer;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;


  transition : cubic-bezier(0,.73,.15,1) 1s;
  display: inline-block;
}


.aButt:hover{
  color : #d7827e;
  transform:scale(1.2);
}

.expandButt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallMargin{
  margin-top : 12px;
  margin-bottom: 12px;
}

.noMargin{
  margin-top : 0px;
  margin-bottom: 0px;
}

.bigMargin{
  margin-top : 36px;
  margin-bottom: 36px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontalDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.verticalDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
}

.hidden{
  display: none;
}

.bigImage{
  max-width: 90%;
  display: block;
}

.title{
  font-size: 48px;
  font-weight: bold;
}

.subtitle{
  font-size: 18px;
  font-weight: 300;
}

@media (min-width: 768px){
  .bigImage{
    height: auto;
    max-width: 60%;
    display: block;
  }
}
