h1{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

.spinnyTitle{
  transition:ease-in-out 0.5s;
  display:inline-block;
}

.spinnyTitle:hover{
  rotate: y 720deg;
}

.mainChunk{
  background-color: antiquewhite;
}
